<!DOCTYPE html>
<html style="height: 100%;">
    <head th:replace="layouts/header :: header"></head>
    <head>
        <link href="/css/home.css" rel="stylesheet">
    </head>
    <body style="height: 100%;">
        <div class="container pt-4" style="height: 100%;">
            <div id="modals"></div>
            <div class="d-flex" style="height:50%;">
                <div class="col-6" style="height:100%;">
                    <button onclick="classClick();" class="btn btn-primary">Add Class</button>
                    <button onclick="propertyClick();" class="btn btn-primary">Add Property</button>
                    <button onclick="dataClick();" class="btn btn-primary">Add Datatype</button>
                    
                    <div id="addClass" class="pt-3">
                        <div class="form-group row">
                            <label for="newClassLabel" class="col-sm-3 col-form-label">Class Label</label>
                            <div class="col-sm-9">
                                <input class="form-control" id = "newClassLabel" name = "newClassLabel" type="text">
                            </div>
                        </div>
                        
                        <button id="addClassbtn" class="btn btn-primary">Add Class</button>
                    </div>

                    <div id="addProperty" style="display: none;" class="pt-3">
                        <div class="d-flex">
                            <div class="col-6">
                                <input type="radio" id="Type1" name="prpertyType" onchange="removeDefault();" value="1">
                                <label for="Type1">Object Property</label>
                            </div>
                            <div class="col-6">
                                <input type="radio" id="Type2" name="prpertyType" onchange="addDefault();" value="2">
                                <label for="Type2">Sub-class of</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="newPropertyLabel" class="col-sm-3 col-form-label">Property Label</label>
                            <div class="col-sm-9">
                                <input class="form-control" id = "newPropertyLabel" name = "newPropertyLabel" type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="newPropertyDomain">Domain</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="newPropertyDomain" name="newPropertyDomain" style="width:100%;">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="newPropertyRange">Range</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="newPropertyRange" name="newPropertyRange" style="width:100%;">
                                </select>
                            </div>
                        </div>

                        <button id="addPropertybtn" class="btn btn-primary">Add Property</button>
                    </div>

                    <div id="addDatatype" style="display: none;" class="pt-3">
                        <div class="form-group row">
                            <label for="newDatatypeLabel" class="col-sm-3 col-form-label">Datatype Label</label>
                            <div class="col-sm-9">
                                <input class="form-control" id = "newDatatypeLabel" name = "newDatatypeLabel" type="text">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="newDatatypeType">Datatype</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="newDatatypeType" name="newDatatypeType">
                                    <option value="boolean">boolean</option>
                                    <option value="double">double</option>
                                    <option value="integer">integer</option>
                                    <option value="string">string</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="newDatatypeClass">Domain</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="newDatatypeClass" name="newDatatypeClass">
                                </select>
                            </div>
                        </div>

                        <button id="addDatatypebtn" class="btn btn-primary">Add Datatype</button>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        Classes
                    </div>
                    <div id="classes" class="scrollbar console" style="height:100%;overflow: scroll;"></div>
                </div>
                <div class="col-3" style="height:100%;">
                    <div class="scrollbar" style="height:50%;">
                        <div style="height:100%;">
                            <div>
                                Object Property
                            </div>
                            <div id="objectProperty" class="scrollbar console" style="height:80%;overflow: scroll;padding-bottom: 0;"></div>
                        </div>
                    </div>
                    <div class="scrollbar" style="height:50%;">
                        <div style="height:100%;">
                            <div>
                                Sub-class Property
                            </div>
                            <div id="subClassProperty" class="scrollbar console" style="height:100%;overflow: scroll;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4 pr-3 pl-3" style="height:40%;">
                <div style="height:100%;">
                    <div>
                        Log
                    </div>
                    <div id="logs" class="scrollbar console" style="height:90%;overflow: scroll;"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form action="/generate" method="post">
                    <button type="submit" class="btn btn-primary">Generate Ontology</button>
                </form>
            </div>
        </div>
    </body>
    <script src="/js/home.js"></script>
</html>